<nav class="nav nav-container {% if app.request.get('_route') != 'wish.list' and app.request.get('_route') != 'wish.location'  %}abs{% endif %}">
    <div class="nav-item">
        <img src="{{ '/images/logo.svg' }}"/>
        <h1 class="title">Od Srca</h1>
    </div>
    <div class="nav-item text-center">
        <a href="{{ url('home') }}" class="nav-link">Početna</a>
    </div>
    <div class="nav-item text-center">
        <a href="{{ url('wish.location') }}" class="nav-link">Popis Želja</a>
    </div>
    <div class="nav-item">
        <a href="{{ url('wish.create') }}" class="nav-link">Zaželi</a>
    </div>
    {% if app.request.get('_route') == 'wish.list' %}
        <div class="hearts list">
            <img src="{{ '/images/illustration.svg' }}"/>
        </div>
    {% endif %}
</nav>