{% if app.request.get('_route') == 'home' %}
    <div class="col-md-6 right-div">
        <img src="{{'../images/landingPageImage.jpg'}}" />
    </div>
{% elseif app.request.get('_route') == 'wish.create' %}
    <div class="col-md-6 right-div">
        <img src="{{'../images/wish.jpg'}}" />
    </div>
{% elseif app.request.get('_route') == 'wish.list' %}
    <div class="col-md-6 right-div">
        <img src="{{'../images/wish.jpg'}}" />
    </div>
{% elseif app.request.get('_route') == 'wish.location' %}
    <div class="col-md-6 right-div">
        <img src="{{'../images/wish.jpg'}}" />
    </div>
{% elseif app.request.get('_route') == 'wish.realize' %}
    <div class="col-md-6 right-div-small">
        <div class="realize-img one">
            <img src="{{'../../images/boyOne.jpg'}}" />
        </div>
        <div class="realize-img two">
            <img src="{{'../../images/boyTwo.jpg'}}" />
        </div>
    </div>
{% endif %}